/* Hide Streamlit Branding */
#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

[data-testid="stAppViewBlockContainer"] {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

h1, h2, h3, p, li {
    color: white;
}

li {
    color: white;
}

a {
    text-decoration: none;
}